body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  width: 20%;
  padding-top: 2rem;
}

h1 {
  margin: 4rem 0 2rem 0;
  padding: 0;
  font-family: var(--font-inter);
  color: #f0f;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}

h2 {
  margin: 4rem 0 2rem 0;
  padding: 0;
  font-family: var(--font-inter);
  color: #f0f;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
